#!/bin/sh

daemon="/usr/local/bin/prometheus"
daemon_flags="-config.file /etc/prometheus/prometheus.yml -storage.local.path '/var/prometheus'"
daemon_user=_prometheus

. /etc/rc.d/rc.subr

pexp="${daemon}.*"
rc_bg=YES
rc_reload=NO

rc_cmd $1
